<div class="flex m-1">
    <div class="w-24 flex-none ml-10">
        <a href=""><img src="/Lumina.png" alt="LuminaGrowthLogo"></a>
    </div>
    <div class="w-64 flex-auto m-auto pl-165">
        <h1 class="text-4xl font-bold text-[#008080]">
            Lumina Growth
        </h1>

    </div>
    <div class="w-60 flex-auto m-auto text-[#008080]">
        <ul class="flex justify-end">
            <a class="pr-10" href="">
                <li class="flex">Principal</li>
            </a>
            <a class="pr-10" href="">
                <li class="flex">Evaluemos tu desarrollo</li>
            </a>
            <a class="pr-10" href="">
                <li class="flex">Coaching</li>
            </a>
            <a class="pr-10" href="">
                <li class="flex">Biblioteca de Herramientas</li>
            </a>
        </ul>
    </div>
</div>