<div class="border border-amber-100 m-50">
    <div class="p-5 font-sans font-black text-[#008080] text-center">
        <h1>Que no te roben tu oportunidad de mejorar</h1>
    </div>
    <div class="flex justify-center">
        <div class="flex-col w-128 p-10  text-[#008080]">
            <div class="p-10">
                <img class="rounded-full" src="/buda.jpg" alt="una imagen">
            </div>
            <div>
                <h1>Sesiones de Coaching</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Nisi earum corporis, quibusdam aperiam minima ea quia,
                    sit, iure dolorem minus explicabo natus nesciunt blanditiis harum ab ducimus labore cum ex?
                </p>
                <a href="">Informate Aqui</a>
            </div>
        </div>
        <div class="flex-col w-128 p-10  text-[#008080]">
            <div class="p-10">
                <img class="rounded-full" src="/buda.jpg" alt="una imagen">
            </div>
            <div>
                <h1>Sesiones de Coaching</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Nisi earum corporis, quibusdam aperiam minima ea quia,
                    sit, iure dolorem minus explicabo natus nesciunt blanditiis harum ab ducimus labore cum ex?
                </p>
                <a href="">Informate Aqui</a>
            </div>
        </div>
        <div class="flex-col w-128 p-10 text-[#008080]">
            <div class="p-10">
                <img class="rounded-full" src="/buda.jpg" alt="una imagen">
            </div>
            <div>
                <h1>Sesiones de Coaching</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Nisi earum corporis, quibusdam aperiam minima ea quia,
                    sit, iure dolorem minus explicabo natus nesciunt blanditiis harum ab ducimus labore cum ex?
                </p>

                <a class="" href="">Informate Aqui</a>

            </div>
        </div>

    </div>
</div>