<div class="flex m-10 pt-5">
    <div class="flex-1 ">
       <div>
        <h2 class="p-5 text-center text-[#008080] font-bold text-3xl">Consejo del dia</h2>
        <div class="flex">
            <p class=" flex-2 text-center pl-30 pt-50 pr-30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo neque obcaecati voluptates tenetur voluptatibus vitae ex doloremque! Hic maxime, dolores ipsum saepe molestias ut itaque molestiae animi repudiandae dolor.</p>
            <img class="flex-1" src="/buda.jpg" alt="aqui iria una imagen">
        </div>
    </div>
</div>


